[submodule "service-discovery"]
	path = service-discovery
	url = https://github.com/Byt3-Social/service-discovery.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Byt3-Social/api-gateway.git
[submodule "authentication"]
	path = authentication
	url = https://github.com/Byt3-Social/authentication.git
[submodule "prospeccao"]
	path = prospeccao
	url = https://github.com/Byt3-Social/prospeccao.git
[submodule "analise-documental"]
	path = analise-documental
	url = https://github.com/Byt3-Social/analise-documental.git
[submodule "acoes-sociais"]
	path = acoes-sociais
	url = https://github.com/Byt3-Social/acoes-sociais.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/Byt3-Social/front-end.git
[submodule "acompanhamento"]
	path = acompanhamento
	url = https://github.com/Byt3-Social/acompanhamento.git
